.site-header {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: black;
  z-index: 500;

  @mixin atMedium {
    justify-items: space-around;
    flex-direction: row;
  }


  &__logo {
    width: 50%;
    margin: 5px auto 0;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 9999999;

    @mixin atMedium {
      width: 25%;
      top: 0;
      left: 0;
      margin: 5px ;
    }
  }

  &__logo__text {
    color: #FFF;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
  }

  &__menu-content {
    transition: all .5s ease-in-out;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
    background-color: $mainOffBlack;
    overflow: hidden;

    @mixin atMedium {
      
      display: flex;
      flex-direction: column;
      width: 60%;
      justify-items: space-between;
      opacity: 1;
      z-index: 99999999999;
      max-height: none;
      background-color: rgba(0, 0, 0, 0) ;
      vertical-align: top;
    }
  }

  &__menu-content--is-visible {
    max-height: 600px;
    opacity: 1;
    margin-top: 20px;
  }

  &__menu-icon {
    margin-top: 5px;
    box-sizing: border-box;
    cursor: pointer;
    width: 26px;
    height: 19px;
    position: absolute;
    transform: scale(1.2);
    top: 5px;
    right: 12px;

    @mixin atSmall {
      height: 26px;
      top: 18px;
      right: 25px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 3px;
      background-color: $mainOffWhite;
      transform-origin: 0 0;
      transition: transform .3s ease-out;

      @mixin atSmall {
        width: 30px;
      }
    }

    &__middle {
        position: absolute;
        top: 8px;
        left: 0;
        width: 22px;
        height: 3px;
        background-color: $mainOffWhite;
        transition: all .3s ease-out;
        transform-origin: 0 50%;

        @mixin atSmall {
          width: 30px;
          top: 12px;
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 22px;
        height: 3px;
        background-color: $mainOffWhite;
        transform-origin: 0 100%;
        transition: transform .3s ease-out;

        @mixin atSmall {
          width: 30px;
        }
    }

    @mixin atMedium {
        display: none;
    }
  }

  &__menu-icon--close-x {
        
    &::before {
      transform: rotate(45deg) scalex(1.25);
    }

    &::after {
      transform: rotate(-45deg) scalex(1.25) translateY(2px) translateX(-1px);
    }

    .site-header__menu-icon__middle {
        opacity: 0;
        transform: scaleX(0);

        @mixin atSmall{}
    }
  }

  &__links {
    transform-origin: 0 0;
    background-color: rgba($mainDarkGrey, .6);
    list-style: none;
    height: 40px;
    display: flex;
    transition: all .3s ease-out;

    @mixin atMedium {
      flex: ;
      width: content;
      display: inline-block;
      vertical-align: middle;
      background: none;
      height: auto;
      margin: 0 25px;
    }
  }

  &__links:hover {
    height: 60px;
    background-color: $mainGrey;
  }


  & a {
    transform: scaleY(0);
    flex: 1;
    position: relative;
    font-size: 1.25rem;
    height: fit-content;
    top: 50%;
    transform: translatey(-50%);

    @mixin atMedium {
      height: auto;
      transform: none;
    }
  }

}