.site-footer {
  margin-top: 20px;
  background: black;
  width: 100%;

  &__row {
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    width: 35%;
    height: 30%;
    display: inline-block;
    margin: 20px 0 15px 15px;
  }

  &__cta {

    cursor: pointer;
    padding: 5px 0;
    font-size: 1rem;
    color: $mainOffWhite;
    background: $mainBlue;
    display: inline-block;
    border-radius: 5px;
    margin: auto 10px auto 0;
    width: 35%;
    height: 30%;
    text-align: center;
    position: ;
    bottom: 1px;

    @mixin atSmall {
      font-size: 1.25rem;
      width: 25%;
      margin-right: 5%;
    }
  }

  &__copyright {
    flex: 1;
    padding-bottom: 5px;
    display: block;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
  }

}